<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinXpress - Sign Up</title>
    <link rel="stylesheet" href="/bootstrap/icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light header-bg position-fixed top-0 start-0 end-0 z-index-x shadow">
        <div class="container-fluid">
          <a class="navbar-brand mx-auto position-relative" href="/">
            <img src="/images/icon.png" width="30" height="24" class="d-inline-block align-text-top">
            FinXpress
          </a>
        </div>
      </nav>
      <div class="position-relative mt-100 mb-5 mx-auto border border-2 border-light p-5 rounded-2 shadow bg-white box-size">
        <h2 class="text-center mb-5">Create Account</h2>
        <form action="/api/signup" id="signupForm">          
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" required />
          </div>         
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="position-relative">
              <input type="password" class="form-control" id="password" name="password" required />
              <span id="showHidePassword" title="Show Password" class="cursor-pointer position-absolute end-0 top-50 translate-middle-y me-2">
                <i class="bi bi-eye"></i>
              </span>
            </div>
          </div>
          <div class="text-center">
            <div class="rounded-2 bg-danger text-white p-2 my-3" id="errorLog"></div>
            <button type="submit" class="btn btn-primary position-relative">
              <span>CREATE</span>
              <img src="/images/loader.gif" width="20" class="position-absolute top-50 start-50 translate-middle invisible">
            </button>
          </div>
          <div class="mt-5 text-center">
            Already have an account?
            <a href="/login">Login</a>
          </div>
        </form>
        <form action="/auth/user" method="post" id="authForm"></form>
      </div>
      <script>

        let isHidden = true;
        let isRequesting = false;
        $('div#errorLog').html('').hide();

        $('span#showHidePassword').click(function(){
          let iconClass = isHidden ? 'bi bi-eye-slash' : 'bi bi-eye';
          let type = isHidden ? 'text' : 'password';
          let title = isHidden ? 'Hide Password' : 'Show Password';
          $(this).attr('title', title);
          $(this).find('i').attr('class', iconClass);
          $('input#password').attr('type', type);
          isHidden = !isHidden;
        });

        $('form#signupForm').submit(function(evt){
          evt.preventDefault();
          $('div#errorLog').html('').hide();
          if(!isRequesting){
            const $this = $(this);
            const apiUrl = $(this).attr('action');
            const dataObj = $(this).serialize();
            isRequesting = true;
            $this.find('button').prop('disabled', true);
            $this.find('button > span').addClass('invisible');
            $this.find('button > img').removeClass('invisible');
            $.ajax({
              type: 'post',
              url: apiUrl,
              data: dataObj,
              dataType: 'json',
              error: (err) => {
                isRequesting = false;
                $this.find('button').prop('disabled', false);
                $this.find('button > span').removeClass('invisible');
                $this.find('button > img').addClass('invisible');
                $('div#errorLog').html('<i class="bi bi-exclamation-octagon me-2"></i>An error occured').show();
              },
              success: (dataResObj) => {
                if(!dataResObj.success){
                  isRequesting = false;
                  $this.find('button').prop('disabled', false);
                  $this.find('button > span').removeClass('invisible');
                  $this.find('button > img').addClass('invisible');
                  $('div#errorLog').html(`<i class="bi bi-exclamation-octagon me-2"></i>${dataResObj.message}`).show();
                  return;
                }
                $('form#authForm').submit();
              }
            });
          }
        });

      </script>
</body>
</html>